*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(102, 102, 102);
}

.container{
width: 900px;
background-color: white;
margin: 30px auto;
border: 1px ;
border-radius: 5px 5px 0px 0px;
}

h1{
    display: inline;
    font-weight: 900;
    font-size: 3em;
    vertical-align: middle;
}
.logo{
   height: 70px;
   vertical-align: middle;
}

header{
    background-color: white;
}
nav{
    padding: 15px 35px;
}

button{
    width: 80px;
    height: 35px;
    border: 1px ;
    vertical-align: middle;
    border-radius: 5px;
    font-size: 1em;
}
#add-task{
    background-color:  hsl(209.6deg 100% 55.88%);
    display: inline;
    color: white;
    width: 90px;
}
#add-section{
color: gray;
border: 1px solid grey;
width: 110px;
background-color: white;
}
main{
    margin-top: 3px;
    border-top: 2px solid gray;
    padding: 60px 35px;
}
.list-title{
    display: inline;
    font-size: 1.7em;
    vertical-align: middle;
}
ul{
    list-style-type:none; 
    margin-top: 20px;
    font-size: 18px;
}

.tipology{
    background-color: #45abea;
    border-radius: 20px;
    color: white;
    font-size: 0.8em;
    display: inline;
    padding: 6px;

}
li::before {
    content: "\2713";
    border: 1px solid green;
    border-radius: 50%;
    color: green;
    display: inline-block;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}
li{
    line-height: 20px;
   
}